
.logoImg {
  width: 150px; 
  height: auto; 
}


.linkAtivo {
  background-color: #694c931a  !important;
  color: #6b21a8 !important;
  font-weight: 500 !important;
}


.linkInativo{
  color: #555 !important; 
}

.linkInativo:hover {
  background-color: #f9f9f9 !important;
}